In [1]:
import pandas as pd
import numpy as np
data = pd.read_csv('Data.csv')

In [3]:
print (data)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [7]:
df = pd.Dataframe(data, index=lables)
print(df[['salary']])

AttributeError: module 'pandas' has no attribute 'Dataframe'